<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='inventory.css')}}">
    <title>Freezer Inventory</title>

    <script>
        function removeOnClickHandler(url) {
            data = {
                active: false
            };
            xhtml = new XMLHttpRequest();
            xhtml.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200) {
                    window.location.href = "{{url_for('Inventory.get_application_page')}}";
                }
            }
            xhtml.open('PUT',url);
            xhtml.send(JSON.stringify(data));
        };

        function copyOnClickHandler(url,src) {
            params = new URLSearchParams();
            params.append("action","copy");
            params.adppend("id",src.toString());
            xhtml = new XMLHttpRequest();
            xhtml.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200) {
                    window.location.href = "{{url_for('Inventory.get_application_page')}}";
                }
            }
            xhtml.open('POST', url + "?" + params.toString() );
            xhtml.send();
        };

        function clearTable() {
            // clear all items from the inventory display table
            var rows = document.getElementsByName("dataRow")
            var i = rows.length;
            while(i--){
                rows[i].parentNode.removeChild(rows[i]);
            }
        }

        function populateTable(data) {
            objs = JSON.parse(data);
            for( obj of objs ) {
                var row_element = document.createElement("tr");
                row_element.setAttribute("id", "row" + obj.id);
                row_element.setAttribute("name","dataRow");
                row_element.setAttribute("class","dataRow");
                document.getElementById("inventory-table").appendChild(row_element);

                var data_elements = [
                    document.createElement("td"),
                    document.createElement("td"),
                    document.createElement("td"),
                    document.createElement("td"),
                    document.createElement("td")
                ];

                for( data_element of data_elements ) {
                    row_element.appendChild(data_element);
                }
                var button_element = document.createElement("button");
                var SCRIPT_ROOT = {{ request.script_root|tojson }} + "/Inventory";
                button_element.setAttribute("onclick", "removeOnClickHandler( '" + SCRIPT_ROOT + "/item/" + obj.id + "' )" );
                button_element.innerText = "Remove"
                data_elements[0].appendChild(button_element);
                data_elements[1].innerText = obj.category.name;
                data_elements[2].innerText = obj.name;
                if( obj.weight ){
                    data_elements[3].innerText = obj.weight;
                } else if( obj.count ){
                    data_elements[3].innerText = obj.count;
                } else {
                    data_elements[3].innerText = "n/a";
                }
                data_elements[4].innerText = obj.added;
            }
        }

        function filterTable() {
            
            var category = document.getElementById("category-filter").value;
            var name = document.getElementById("name-filter").value;
                        
            params = new URLSearchParams();
            if( category.length > 0 ) {
                params.append("category", "%" + category + "%")
            }
            if( name.length > 0 ) {
                params.append("name", "%" + name + "%")
            }
            params.append("active", "True");
            var url = "{{url_for('Inventory.get_item')}}?" + params.toString();
            xhtml = new XMLHttpRequest();
            xhtml.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200) {
                    clearTable();
                    populateTable(this.responseText);
                }
            }
            xhtml.open( 'GET',url );
            xhtml.send();
        };

        function autocomplete(inp,foo_url) {
            var xhtml = new XMLHttpRequest();
            xhtml.onreadystatechange = function() {
                if(this.readyState == 4 && this.status == 200) {
                    objs = JSON.parse(this.responseText);
                    closeAllLists()
                    /* create a DIV that holds all of the items */
                    list = document.createElement("DIV");
                    list.setAttribute("id", inp.id + "-autocomplete-list");
                    list.setAttribute("class", "autocomplete-items");
                    inp.parentNode.appendChild(list);

                    for( i = 0; i < objs.length; i++ )  {
                        item = document.createElement("DIV");
                        item.setAttribute("id", this.id + "autocomplete-item-" + i);
                        //item.setAttribute("class", "autocomplete-items");
                        item.innerText = objs[i].name;
                        item.addEventListener("click", function(e) {
                            inp.value = this.innerText;
                            closeAllLists();
                        });
                        list.appendChild(item);
                    }
                };
            };

            function closeAllLists(elem) {
                /* Closes ALL autocomplete lists in the document,
                except for the one passed as elem (optional) */
                var lists = document.getElementsByClassName("autocomplete-items");
                for( var i = 0; i < lists.length; i++ ) {
                    if( elem != lists[i] && elem != inp ) {
                        lists[i].parentNode.removeChild(lists[i]);
                    }
                }
            }
            inp.addEventListener("input", function(e) {
                // close any other lists
                params = new URLSearchParams();
                var url = foo_url(params);
                if( url ) {
                    xhtml.open('GET', url);
                    xhtml.send();
                } else {
                    closeAllLists();
                }
            });
        };

        var category_url = function(params) {
            category = document.getElementById('category');
            if( category.value.length > 0 ) {
                params.append("category", "%" + category.value + "%");
                return "{{url_for('Inventory.get_category')}}?" + params.toString();
            } else {
                return false
            }
            
        }

        var item_url = function(params) {
            category = document.getElementById('category');
            item = document.getElementById('name');
            if( category.value.length > 0 ) {
                params.append("category", "%" + category.value + "%");
            }
            if( item.value.length > 0 ) {
                params.append("name", "%" + item.value + "%");
                params.append("unique", "True");
                return "{{url_for('Inventory.get_item')}}?" + params.toString();
            } else {
                return false;
            }
            
        }

        document.addEventListener('DOMContentLoaded', function()  {
            autocomplete(document.getElementById('category'), category_url);
            autocomplete(document.getElementById('name'), item_url);
        });       
    </script>
</head>
<body>
    <h1>Freezer Inventory</h1>
    <table class="table" id="inventory-table">
        <tr>
            <th></th> <!--Placeholder for Remove Button-->
            <th>Category</th>
            <th>Name</th>
            <th>Weight/Count</th>
            <th>Added</th>
        </tr>
        <tr>
            <td></td> <!--Placeholder for Remove Button-->
            <td><input type="text" id="category-filter" name="Category" oninput="filterTable()"></td>
            <td><input type="text" id="name-filter" name="Name" oninput="filterTable()"></td>
            <td></td> <!--Placeholder for Weight/Count which have no filter-->
            <td></td> <!--Placeholder for Added which have no filter-->
        </tr>
        {% for j in items %}
        <tr name="dataRow" class="dataRow" id="row{{j['id']}}">
            <td>
                <button onclick="removeOnClickHandler('{{url_for('Inventory.put_item', id=j['id'])}}')">Remove</button>
            </td>
            <td>
                <button onclick="copyOnClickHandler('{{url_for('Inventory.post_item')}}', {{j['id']}})">Copy</button>
            </td>
            <td>{{j['category']['name'].title()}}</td>
            <td>{{j['name'].title()}}</td>
            <td>
                {% if j['weight'] is not none %}
                {{ j['weight'] }} lbs
                {% elif j['count'] is not none %}
                {{ j['count'] }} cnt
                {% else %}
                N/A
                {% endif %}
            </td>
            <td>{{j['added']}}</td>
        </tr>
        {% endfor %}
    </table>

    <!-- <div class="form-container" id="input-form-conatiner"> -->
        <form method="POST" action="{{url_for('Inventory.post_item')}}" autocomplete="off">
            {{ form.csrf_token }}
            {{ form.category.label }} 
            <div class="autocomplete" id="category-autocomplete" style="width:300px">{{ form.category(size=20) }}</div>
            {{ form.name.label }} 
            <div class="autocomplete" id="name-autocomplete" style="width:300px">{{ form.name(size=20) }}</div>
            {{ form.weight.label }} {{ form.weight }}
            {{ form.count.label }} {{ form.count }}
            <input type="submit" value="GO">        
        </form>
    <!-- </div> -->

    {% if form.name.errors %}
        <ul class="errors">
            {% for error in form.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>